// VARIABLES

$color-grey: #e4e4e4;
$color-white: #fff;
$color-black: #000;
$border: 4px solid $color-grey;
$color-gey-2: #656565;
$color-grey-3: #9b9b9b;
$color-black-2: #1d1d1d;
$color-gery-3: #c2c2c2;
$color-error: #ff0000;
